#sec{
    border: 1px solid yellow;
}
#headd3{
    color: white;
    margin-top: 40px;
    font-size: 45px;
    font-weight: 500;
}
#text1{
    color: white;
    /* text-align: left; */
    margin: auto;
    margin-top: 10px;
    line-height: normal;
    font-size: 12px;
    width: 45%;
}
#innbox{
    border: 1px solid red;
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 50px;
}
#imgbox{
    border: 1px solid blue;
    width: 45%;
}
#textbox{
    border: 1px solid green;
    width: 38%;
    margin-right: 30px;
}
#innn{
    border: 1px solid violet;
    display: flex;
    justify-content: space-between;
} 
#headd4{
    color: white;
    font-size: 24px;
    font-weight: 500;
}
#imgg{
    height: 35px;
    width: 35px;
}
